<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Laravel Vue.js API Example</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <router-link tag="li" :to="{ name: 'home'}" active-class="active">
                        <a>Home</a>
                    </router-link>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <router-link v-if="!auth_states.authenticated" tag="li" :to="{ name: 'login' }" active-class="active">
                        <a>Login</a>
                    </router-link>
                    <router-link v-if="!auth_states.authenticated" tag="li" :to="{ name: 'register' }" active-class="active">
                        <a>Register</a>
                    </router-link>
                    <router-link v-if="auth_states.authenticated" tag="li" :to="{ name: 'users' }" active-class="active">
                        <a>Users</a>
                    </router-link>
                    <li>
                        <a href="#" v-if="auth_states.authenticated" @click="logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
<script>
    import Auth from '../Auth/Auth';
    import Login from '../Auth/Login';

    export default{
        data(){
            return{
                auth_states: Auth.getStates()
            }
        },

        methods: {
            logout() {
                (new Login()).logout();
            }
        }
    }
</script>
