<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Users page</div>

                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr v-for="user in users">-->
                                <!--<td>{{ user.name }}</td>-->
                                <!--<td>{{ user.email }}</td>-->
                            <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import user from '../Areas/User/User';

    export default {
        mounted() {

        },
        data() {
            return {
                users: []
            };
        }
    }
</script>
