<template xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Login page</div>

                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" v-model="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" v-model="pass" class="form-control" id="exampleInputPassword1"
                                       placeholder="Password">
                            </div>
                            <button type="button" v-on:click="login" class="btn btn-primary">Login</button>
                        </form>
                        <br>
                        <pre class="errors" v-if="errors.length > 0">
                            <div v-for="error in errors">{{ error }}</div>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Auth from '../../Auth/Auth';
    import Login from '../../Auth/Login';

    export default {
        mounted() {
            /**
             * If user authenticated redirect
             */
            if (Auth.getAuthenticated()) {
                this.redirect();
            }
        },

        data() {
            return {
                email: 'qwe@qwe.qwe',
                pass: 'qweqwe',
                errors: []
            };
        },

        methods: {
            redirect() {
                this.$router.replace('/');
            },

            login() {

                let $this = this;

                /**
                 * Try authenticate
                 */
                (new Login()).signin(this.email, this.pass, function (success) {
                    /**
                     * check success
                     */
                    if (success.state) {
                        /**
                         * Redirect
                         */
                        $this.redirect();
                    } else {
                        /**
                         * Show errors
                         */
                        this.errors = success.errors;
                    }
                });
            }
        }
    }
</script>
